@import "tailwindcss";

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

button, a, [role="button"] {
  touch-action: manipulation;
}

input, textarea, select {
  font-size: 16px; /* evita zoom automático no mobile */
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  background-color: #09090b;
  color: #ffffff;
  min-height: 100vh;
}
